@layer base {
  :root {
    --background: var(--color-abbey-apricot-02);
    --color-background-subtle: var(--background-subtle);
    --color-background-muted: var(--background-muted);

    --color-foreground: var(--color-gray-80);
    --color-foreground-muted: var(--color-gray-60);
    --color-foreground-subtle: var(--color-gray-30);

    /* Border Tokens */
    --color-border: var(--border);
    --color-border-muted: var(--border-muted);

    /* Interactive States */
    --color-primary: var(--primary);
    --color-primary-hover: var(--primary-hover);
    --color-primary-active: var(--primary-active);

    /* Feedback Colors */
    --color-success: var(--success);
    --color-warning: var(--warning);
    --color-error: var(--error);
    --color-info: var(--info);

    /* Optional: Secondary Accent */
    --color-secondary: var(--secondary);
    --color-secondary-hover: var(--font-serifsecondary-hover);

    /* Focus States */
    --color-focus: var(--focus);
    --color-focus-subtle: var(--focus-subtle);
  }
}
